



/* NAV START */
#logo {
  font-family: 'Source Sans Pro', sans-serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #2C5197;

  /* Visual */

  border: 5px;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar {
  background: #gray;
  border-bottom: 50px;
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #052772;
  }
}
/* END NAV */




body {
    padding-left: 50px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    background: #fff;
  }


  #profile-image {
    width:125px;
    height:125px;
    margin-right:1.0em;
    float:left;
}




  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color:#072A82;
    text-align: center;
  }

  h2 {
    font-size: 24px;
  }

  #profile-image {
    border-radius: 50%;
  }


  a {
    color: #d21034;
  }

  .container  {
    width: 1024px;
    margin: 0 auto;
  }

  #main {
    width: 600px;
    margin: 0 auto;
  }

  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }

  #main-bio {
    width: 70%;
  }

  #contact-info {
    width: 30%;
  }


 /* BEGIN FOOTER */
.footer {
  /* Positioning */

  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;

  /* Visual */
  background-color: #F9F9F9;
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 2px;

  /* Visual */
  background-color: #072A82;
  background-repeat: no-repeat;
}

#ft {
position: fixed;
bottom: 0;
width: 100%;
height: 65px;
left: 0;
}
/* END FOOTER */
